@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&family=Outfit:wght@100..900&display=swap');

html {box-sizing: border-box; }
*, *:before, *:after {box-sizing: inherit; } 

body{
    margin: 0 0;
    padding: 0;
    font-family: 'Outfit';
    background-color: #492713;
    color: white;
    font-size: calc(0.5vw + 1vh);
}

header { 
    width: 100%;
    height: 7vh;
    display: flex;
    align-content: center;
    font-size: 1rem;
    gap: 10%;
    margin: 0;
}

a{
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    flex: 1;
}

nav { 
    display: flex;
    width: 70%;
    margin: 0 auto;
}

header img {
    margin-right: 5%;
}


a:hover {
    background-color:#ffffff;
    color: rgb(53, 49, 49);
}

.presentación{
    text-align: center;
}

.presentación h1{
    color: #E8CD40
}

main {
    margin: 0 15%;
}

h1{
    color: #E8CD40;
    font-size: 4rem;
}

h2 {
    color: #E79E3D;
    font-size: 1.5rem;
}

h3 {font-size: 2rem;}
.sobremi {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    gap: 10%;
    font-size: 1.5rem;
}

.foto{
    height: 0;         /* Truco: empezamos en 0 para que no empuje */
  min-height: 100%;  /* Se estira hasta llenar lo que el texto diga */
  width: 100%;
  position: relative;
}

#mifoto {
    width: 100%;
    height: 100%;
}

.proyectos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
}

.skills {
    display: flex;
}

.card {
    background-color: #E8CD40;
    color: rgb(53, 49, 49);
}

.card h1 {
    color: rgb(53, 49, 49);
}

.skills {
    display: flex;

}

@media (max-width: 700px) {
    body {
        font-size: 0.25vw;     
        font-size: 0.5vh;
    }
    
    .sobremi {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}