@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=Bungee&family=Onest:wght@100..900&family=Outfit:wght@100..900&family=Pixelify+Sans:wght@400..700&display=swap');
html {box-sizing: border-box; }
*, *:before, *:after {box-sizing: inherit; } 

body{
    margin: 0 0;
    padding: 0;
    font-family: 'Outfit';
    background-color: #492713;
    color: white;
    font-size: calc(0.5vw + 1vh);
}

main {
    margin: 0 15%;
}

h1{
    color: #E8CD40;
    font-size: 4rem;
    font-family: 'Bitcount Single';
    font-weight: normal;
}
/*
header { 
    width: 100%;
    height: 7vh;
    display: flex;
    align-content: center;
    font-size: 1rem;
    gap: 10%;
    margin: 0;
}

a{
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    flex: 1;
}

nav { 
    display: flex;
    width: 70%;
    margin: 0 auto;
}

header img {
    margin-right: 5%;
}


a:hover {
    background-color:#ffffff;
    color: rgb(53, 49, 49);
}*/

/*HEADER*/
.navbar-nav .nav-link {
    display: inline-block; 
    width: auto;              
    padding: 8px 20px;        
    border-radius: 8px;     
    transition: all 0.3s ease;
}

.nav-link:hover {
    background-color: #ffffff !important;
    color: rgb(53, 49, 49) !important;
}

/*TÍTULO*/
.presentación{
    text-align: center;
}

.presentación h1{
    color: #E8CD40
}

/*Para todas las partes*/
.secciones h2 {
    color: #E79E3D;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 2%;
    margin-top: 3%;
    /*Efecto neon*/
    text-shadow: 
        0 0 8px rgba(231, 158, 61, 0.4),  
        0 0 15px rgba(231, 158, 61, 0.2); 
    transition: text-shadow 0.3s ease;
}

/*Subtitulos se iluminan un poco más*/
.secciones h2:hover {
    text-shadow: 
        0 0 10px rgba(231, 158, 61, 0.6), 
        0 0 20px rgba(154, 99, 27, 0.3);
}

h3 {font-size: 2rem; }


/*SOBRE MÍ*/
.sobremi {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    gap: 5%;
    font-size: 1.35rem;
}

.sobremi p {
    text-align: left;
}

#mifoto {
    width: 100%;          
    height: auto;     
    border-radius: 3%;
    object-fit: cover;  
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
/*
#mifoto {
    width: 100%;
    height: 100%;
}*/




.proyectos {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 5%;
}

.card {
    background-color: #E8CD40; 
    border-radius: 12px;     
    padding: 20px;
    width: 62%;      
    gap: 15px;
    transition: all 0.3s ease; 
    border: 2px solid transparent; 
}
.card:hover {
    border-color: #ffb53f; 
    box-shadow: 0 0 20px rgba(255, 157, 0, 0.6), 
                0 0 10px rgba(139, 69, 19, 0.4); 

    transform: translateY(-8px); 
    transition: all 0.3s ease-in-out;
}
.img-container {
    width: 100%;
    aspect-ratio: 16 / 9;    
    background-color: #000;   
    border-radius: 4px;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card h4 {
    margin: 10px 0;
    font-size: 1.4rem;
    color: #331a01;
    font-weight: bold;
}

.card p {
    width: 100%;
    font-size: 1rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
} 

.card .btn-code {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap:4%;
    width: 70%;
    padding: 3%;
    background-color: #915C35; 
    color: #ffffff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease; 
}

.card .btn-code:hover {
    background-color: #331a01 !important; 
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
}

.card a {text-decoration: none;}

.skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); 
    gap: 40px; 
    justify-items: center;
    align-items: center;
    padding: 40px 0;
}

.skills img {
    width: 80%; 
    height: auto;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.skills img:hover {
    transform: scale(1.2); 
}


@media (max-width: 769px) {
    body {
        font-size: 0.25vw;     
        font-size: 0.5vh;
    }

    header {
        font-size: 1rem;
    }

    .secciones h2 {margin: 8%;}

    navbar-nav {
        text-align: right;   
    }

    .nav-item {
        margin-bottom: 5px;   
    }

    .sobremi {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 30px;
        text-align: center; 
    }

    .card {width: 100%}
    
    .foto {
        display: flex;
        justify-content: center; 
    }

    #mifoto {
        width: 80%;
    }
}